<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WooCommerce Test Suite" verbose="1" preserve-order="true">

    <test name="1 - Login Tests">
        <classes>
            <class name="runners.LoginTestRunner"/>
        </classes>
    </test>

    <test name="2 - Register Tests">
        <classes>
            <class name="runners.RegisterTestRunner"/>
        </classes>
    </test>

    <test name="3 - Dashboard Tests">
        <classes>
            <class name="runners.DashboardTestRunner"/>
        </classes>
    </test>
    
    <test name="4 - Account Details Tests">
    <classes>
        <class name="runners.AccountDetailsTestRunner"/>
    </classes>
</test>

 <test name="5 - Addresses Tests">
    <classes>
        <class name="runners.AddressesTestRunner"/>
    </classes>
</test>

<test name="6 - Product Search Tests">
    <classes>
        <class name="runners.ProductSearchTestRunner"/>
    </classes>
</test>

<test name="7 - Cart Tests">
    <classes>
        <class name="runners.CartTestRunner"/>
    </classes>
</test>

<test name="8 - Checkout Tests">
    <classes>
        <class name="runners.CheckoutTestRunner"/>
    </classes>
</test>

</suite>